body{
    background: #343a40ed;
}
.navbar-dark .navbar-nav .nav-link {    
    color: #fff;
}
.siderbarMenu{
    min-height: 440px;
}
.siderbarMenu a{
    color: #fff;
}
.siderbarMenu a:hover{
    border-bottom: 1px solid #f0f0f0;
}
.content_body{
    background: #f2f2f2;
    min-height: 385px;
}